USE [master]
GO
/****** Object:  Database [APP_MUSIC]    Script Date: 4/22/2021 4:36:20 PM ******/
CREATE DATABASE [APP_MUSIC] ON  PRIMARY 
( NAME = N'APP_MUSIC', FILENAME = N'D:\College\Database System\DATA\APP_MUSIC.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'APP_MUSIC_log', FILENAME = N'D:\College\Database System\LOG\APP_MUSIC_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [APP_MUSIC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [APP_MUSIC]
GO
/****** Object:  Table [dbo].[playlists]    Script Date: 4/22/2021 4:36:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[playlists](
	[id_user] [int] NOT NULL,
	[id_song] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC,
	[id_song] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[songs]    Script Date: 4/22/2021 4:36:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[songs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[url] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/22/2021 4:36:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password]) VALUES (22, N'HuyDuc', N'adminHuyDuc')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[playlists]  WITH CHECK ADD FOREIGN KEY([id_song])
REFERENCES [dbo].[songs] ([id])
GO
ALTER TABLE [dbo].[playlists]  WITH CHECK ADD FOREIGN KEY([id_song])
REFERENCES [dbo].[songs] ([id])
GO
ALTER TABLE [dbo].[playlists]  WITH CHECK ADD FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[playlists]  WITH CHECK ADD FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id])
GO
USE [master]
GO
